
<h1>This is my first Angular project</h1>
<h2>
<nav>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="second" routerLinkActive="active">Second</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="third/ITER" routerLinkActive="active">Third</a>
</nav>
</h2>



<!--
  <lifecycle uname='Anand'>Hi from lifecycle component</lifecycle>
-->
<!--
<mdf-formbuilder></mdf-formbuilder>
-->
<!--
<mdf-form></mdf-form>
-->
<!--
  <template-driven-form></template-driven-form>
-->
<!--
<first></first>
-->
<!--
<div> 
  Parent component<br>
  <input type="text" #parentbox [value]="childData">

  </div>
<br><br>
<child (myEvent)="childData=$event"></child>
-->
<router-outlet></router-outlet>