/* Universal selector
* {
	color: red;
}

Class selector
.bigFont {
	color: blue;
}

Element type selector
p {
	color: lightblue;
}
div {
	width: 500;
}
input {
	height: 200;
}

Attribute selector
a[href="http://google.co.in"] {
	background-color: #444;
}
*/

/* Decendent child selector
#divContainer .box {
	background-color: cyan;
}
 
Child selector
#divContainer > .paraBox {
	background-color: lightblue;
}

General sibling selector
div ~ input {
	background-color: yellow
}
*/

div + input {
	background-color: yellow
}

span.bigFont {
	color: green;
}

#xorEle > .myclass {
	background-color: blue;
}

#para_2 {
		background-color: orange;
}

.testClass {
	background-color: white;
}
#container{
	overflow: scroll;
	width: 100px;
	height: 100px;
	background-color: lightblue;
}
input{
	margin: 100px 50px;
	border-color: red;
	border-width: 3px;
	border-style: solid dashed ridge dotted;
	padding: 10px;
}

p::first-line{
	color: red;
}

p::selection{
	background-color: cyan;
}

div:hover{
	background-color: orange;
}

h3 { background-color: pink }

* { background-color: white; }
