div{
	border: 1px solid black;
	background-color: lightblue;
}

#inner-div{
	position: absolute;
	width: 500px;
	height: 300px;
	top: 300px;
}

#outer-div{
	position: static;
	width: 100px;
	height: 100px;
}

.image { 
	float: left;
	width: 100px;
	height: 100px; 
}
